node_modules
.env
coverage
.coverage.json
ContractAddress.json
types
abi
.DS_Store

# Hardhat files
cache
artifacts
scripts/*
!scripts/deploy.js
!scripts/deploySmartAccountV2.0.1.js
!scripts/smokeTest.js
!scripts/Utils.js
!scripts/createTestingEnvironment.js
!scripts/testInTestingEnvironment.js
typechain